
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
body{
    background-image: url("image.png");
    background-size: 100%;

}
#restart{
    top: 250px;
    right: 250px;
    position: absolute;
    height: 20px;
    width: 100px;
}